.cards {
    display: flex;
    flex-wrap: wrap;

}

.card {
    border: solid black thick;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
   
}

.card-margin {
    margin: 10px;
}

img {
    height: 400px;
    margin-top: 15px;
    border: solid black;
    max-width: 300px;
    object-fit: cover;
}

.back {
    border: solid black;
    width: 300px;
}

.gray {
    background: lightgray;
}

h1 {
    /* padding-top: 25px; */
}

h2 {
    margin: 0;
}

button {
    margin: 0;
    color: white;
    background: black;
    height: 2rem;
    /* margin: 20px 5px; */
    border-radius: 6px;
}

.new {
    background: yellow;
    height: 850px;
    display: flex;
    justify-content: center;
}